
//I'm not sure if I understood this challange at all, but here is the CSS that should have the color information?? //


header {
  background-color: #FFDBAA;
  color: #553100;
}

button {
  background-color: #805215;
  color: #FFF; 
}

body {
  background-color: #D4A76A;
}
